
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.footer {
    width: 100%;
    grid-auto-flow: row;
    row-gap: 2.5rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.footer,
.footer > * {
    display: grid;
    place-items: start;
}
.footer > * {
    gap: 0.5rem;
}
@media (min-width: 48rem) {
    .footer {
        grid-auto-flow: column;
    }
    .footer-center {
        grid-auto-flow: row dense;
    }
}
.link {
    cursor: pointer;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}
.menu > :where(li.disabled > :not(ul):focus) {
    cursor: auto;
}
.swap {
    position: relative;
    display: inline-grid;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    place-content: center;
    cursor: pointer;
}
.swap > * {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
}
.swap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.swap .swap-indeterminate,
.swap .swap-on,
.swap input:checked ~ .swap-off,
.swap input:indeterminate ~ .swap-off,
.swap input:indeterminate ~ .swap-on,
.swap.swap-active .swap-off {
    opacity: 0;
}
.swap input:checked ~ .swap-on,
.swap input:indeterminate ~ .swap-indeterminate,
.swap-active .swap-on {
    opacity: 1;
}
.table {
    position: relative;
    text-align: left;
}
.table th:first-child {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 11;
}
.btm-nav > :where(.active) {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}
.btm-nav > .disabled,
.btm-nav > .disabled:hover,
.btm-nav > [disabled],
.btm-nav > [disabled]:hover {
    pointer-events: none;
    --tw-border-opacity: 0;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
}
@-webkit-keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.95));
    }
    40% {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}
@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.95));
    }
    40% {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes checkmark {
    0% {
        background-position-y: 5px;
    }
    50% {
        background-position-y: -2px;
    }
    to {
        background-position-y: 0;
    }
}
@keyframes checkmark {
    0% {
        background-position-y: 5px;
    }
    50% {
        background-position-y: -2px;
    }
    to {
        background-position-y: 0;
    }
}
.link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.link:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):active) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
}
.menu li.disabled > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
}
.menu li.disabled > :hover {
    background-color: initial;
}
.mockup-phone .display {
    overflow: hidden;
    border-radius: 40px;
    margin-top: -25px;
}
@-webkit-keyframes progress-loading {
    50% {
        left: 107%;
    }
}
@keyframes progress-loading {
    50% {
        left: 107%;
    }
}
@-webkit-keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset;
    }
    50% {
        box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset;
    }
    to {
        box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
    }
}
@keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset;
    }
    50% {
        box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset;
    }
    to {
        box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
    }
}
@-webkit-keyframes rating-pop {
    0% {
        transform: translateY(-0.125em);
    }
    40% {
        transform: translateY(-0.125em);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes rating-pop {
    0% {
        transform: translateY(-0.125em);
    }
    40% {
        transform: translateY(-0.125em);
    }
    to {
        transform: translateY(0);
    }
}
.table :where(th, td) {
    white-space: nowrap;
    padding: 1rem;
    vertical-align: middle;
}
.table tr.active td,
.table tr.active th,
.table tr.active:nth-child(2n) td,
.table tr.active:nth-child(2n) th,
.table tr.hover:hover td,
.table tr.hover:hover th,
.table tr.hover:nth-child(2n):hover td,
.table tr.hover:nth-child(2n):hover th {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
}
.table:where(:not(.table-zebra)) :where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
}
.table :where(thead, tfoot) :where(th, td) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.table :where(tbody th, tbody td) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}
:where(.table :first-child) :where(:first-child) :where(th, td):first-child {
    border-top-left-radius: 0.5rem;
}
:where(.table :first-child) :where(:first-child) :where(th, td):last-child {
    border-top-right-radius: 0.5rem;
}
:where(.table :last-child) :where(:last-child) :where(th, td):first-child {
    border-bottom-left-radius: 0.5rem;
}
:where(.table :last-child) :where(:last-child) :where(th, td):last-child {
    border-bottom-right-radius: 0.5rem;
}
@-webkit-keyframes toast-pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes toast-pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.btm-nav-xs > :where(.active) {
    border-top-width: 1px;
}
.btm-nav-sm > :where(.active) {
    border-top-width: 2px;
}
.btm-nav-md > :where(.active) {
    border-top-width: 2px;
}
.btm-nav-lg > :where(.active) {
    border-top-width: 4px;
}
.avatar.online:before {
    content: "";
    position: absolute;
    z-index: 10;
    display: block;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
    width: 15%;
    height: 15%;
    top: 7%;
    right: 7%;
    box-shadow: 0 0 0 2px hsl(var(--b1));
}
body {
    font-family: Nunito,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-color: #f6f6ff;
    font-size: 14.5px;
}
.menu-botton-line {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    height: 2px;
    width: 30px;
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.text-success {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
}
.text-violet {
    --tw-text-opacity: 1;
    color: rgb(109 40 217 / var(--tw-text-opacity));
}
.text-orange {
    --tw-text-opacity: 1;
    color: rgb(234 88 12 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
    .xl\:container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 16px;
        padding-left: 16px;
    }
    @media (min-width: 640px) {
        .xl\:container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .xl\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .xl\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .xl\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .xl\:container {
            max-width: 1536px;
        }
    }
}